<form>
  <div class="form-group">
    <h3 class="first">Create new shipment</h3>
    <label class="required-field">Shipment description</label>
    <input type="text" class="form-control">
    <label class="required-field">Customer ID</label>
    <input type="number" class="form-control">
    <label class="required-field">Tracking status</label>
    <select class="form-control">
      <option>initiated</option>
      <option>in progress</option>
      <option>delivered</option>
      <option>cancelled</option>
      <option>returned</option>
    </select>
    <div>
      <button type="button" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
