<h1>{{customerNameAndDescr.name}}</h1>
<h2>Shipment description: {{customerNameAndDescr.description}}</h2>
<h3>(Shipment ID: {{shipmentId}})</h3>
<h2 *ngIf="trackings">List of Trackings</h2>
<ol class="trackings">
  <li *ngFor="let tracking of trackings">
   <span>{{tracking.status}}  </span> {{tracking.eventDate}}
  </li>
</ol>

<h2>Add tracking event</h2>
<select name="status" [(ngModel)]="status">
  <option>initiated</option>
  <option>in progress</option>
  <option>delivered</option>
  <option>cancelled</option>
  <option>returned</option>
</select>
<div>
  <button type="submit" class="btn btn-primary" (click)="onSelectTrackingEvent()">Submit</button>
</div>








