<h4>List of customers</h4>
    <ul class="customers">
      <li *ngFor="let customer of customers">
        <div class="row">
          <div class="col-md-3">
            <span>{{customer.id}}</span> {{customer.name}}
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-sm" (click)="editCustomer(customer)">Edit</button>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-sm" [routerLink]="[customer.id,'shipments' ]">Shipments</button>
          </div>
        </div>
      </li>
    </ul>

